.container-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-signup header {
    display: flex;
    align-items: center;
    width: 90%;
    height: 10%;
    gap: 13px;
    color: #FFFFFF;
}

.container-signup main {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 30%;
    align-items: center;
    background-color: white;
}

.container-signup form {
    display: flex;
    flex-direction: column;
    width: 83%;
    height: 100%;
}

.container-signup h2 {
    margin-top: 9%;
    margin-bottom: 5%;
    color: #7978D9;

}

.container-signup label {
    margin-bottom: 8px;
}

.container-signup input {
    width: 100%;
    height: 9%;
    margin-bottom: 31px;
    padding: 0 5px;
}

.container-signup button {
    all: unset;
    text-align: center;
    margin-bottom: 8px;
    padding: 11px 47px;
    background: #7978D9;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.container-signup button:active {
    transform: translateY(2px);
}

.span-cadastro {
    text-align: center;
    color: #7B61FF;
    cursor: pointer;
}

.span-error {
    color: red;
    margin-top: -20px;
    margin-bottom: 30px;
}

.clique-aqui {
    text-decoration: underline;
}

@media(max-width:1189px){
   .container-signup main{
    width: 50%;
   }
}

@media(max-width:660px){
    .container-signup main{
     width: 90%;
    }

    .container-signup form{
        width: 90%;
    }
    .container-signup input {
        height: 8%;
    }
.container-signup header{
    justify-content: center;
}
 }